/*
    Document   : Layout
    Created on : 20/07/11
    Author     : PA
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#header {
    padding: 0;
    background: url(imagens/barrona.jpg) no-repeat;
    width: 1024px;
    margin:auto;
    height:180px;
}

#textosfig {
    height: 230px;
    width:180px;
    margin-left: 150px;
    background: url(imagens/textos.JPG) no-repeat;
}

#areaTexto {
    margin-left: 15%;
}

#campoLogin{

    float:right;
    margin-right: 10px;
    width: 200px;
    height: 150px;


}

#msgLogin {
    float: left;
    width: 200px;
    margin-top: 150px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bolder;
    font-variant: small-caps;
    color: #003366;
}



body {

    margin: auto;
    width: 100%;
    background-color: rgb(249,244,240);

    /*border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;

	/*background: rgb(249,244,240) repeat-x left top;*/
}

#menuhorizontal {
    width: 1021px;
    height: 40px;
    background: bisque;
}

#subcorpo2{
    background-color: white;
    margin: auto;
    width: 1021px;
    border-left: 3px solid black;
    border-right: 3px solid black;

    /*background: url(imagens/usada.JPG) repeat center;*/
}

#footer {
    position: relative;
    clear:both;
    margin-top: 30px;
    height: 70px;
    width: 100%;
    border-bottom: 3px solid black;
    background: url(imagens/footer.jpg) no-repeat;
}


#barradivisora {
    width: 1024px;
    margin:auto;
    height:5px;
    background: url(imagens/barradivisora.jpg) no-repeat;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}
#colunas {
    margin-left:0px;
    margin-top: 0px;
    width:100%;
    background-color: white;
    position:relative;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;

}

#sign {
    background: url(imagens/Skull.png) no-repeat;
    height: 70px;
    margin:auto;
    width: 400px;
    padding-left: 80px;
    padding-top: 20px;
    font-variant: small-caps;
    text-align: justify;
    font-size: 12px;
    font-weight: bold;
}

#gifanimada {
    margin-top: 30px;
    margin-left: 22%;
    background: rgb(249,244,240)  url(imagens/gifAnimada.gif)  no-repeat;
    width: 300px;
    height: 260px;
}

#imgRicketts {
    margin-top: 30px;
    margin-left: 30%;
    background:  url(imagens/rickettsgatao.png)  no-repeat;
    width: 300px;
    height: 350px;
}


#menuvertical {
    width:20%;
    margin-left: 0px;
    float:left;
    position:relative;
}

#barraTitulo {
    width: 400px;
    height: 7px;
    background: url(imagens/barra.gif) no-repeat;
    font-size: 18px;
    font-weight: bold;
    color: #003366;
}

#barraTituloInversa {
    width: 400px;
    height: 7px;
    background: url(imagens/barrainversa.gif) no-repeat;
    font-size: 18px;
    font-weight: bold;
    color: #003366;
}

#colunaA {
    /*padding-top: 50px;*/


    position: relative;
    margin-left: 0%;
    width:40%;
    float:left;
    padding-bottom: 30px;

    /*float: left;*/
    /* position:relative;*/
}


#colunaB {
    position: relative;
    padding-bottom: 30px;
    float:right;
    width:49%;

}

#tituloInterno {
    margin-left: 20px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#textoInterno {
    position: relative;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: normal;
    color: black;
    text-align: justify;
    width: 90%;
}


#subcorpo {

    background-color: white;
    margin: auto;
    margin-top: 40px;
    width: 1021px;
    position: relative;


}
#campos2 {
    margin-left: 5%;
    margin-top: 30px;
}
#campos {
    /*Localização dos campos dentro do quadrado principal*/
    margin: auto;
    margin-left:10px;
    margin-top: 30px;
    /*border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      border-top: 1px solid black;*/
}

#campoAssinatura{
    /*Pequena assinatura localizada na parte de baixo da página.*/
    background:#0099ff;
    /*filter:opacity(alpha=50); /* para o IE */
    /*-moz-opacity:0.5; /* para o FireFox */
    opacity:0.5; /* para o outros Navegadores */
    width: 600px;
    margin:auto;
    margin-top: 400px;
    /*border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      border-top: 1px solid black;*/
}

#applet {
    margin-left:100px;
}

#textoAssinatura {
    text-align:center;
    font-size: 15px;
}

#cabecalho{

    background: url(imagens/frontal.png) no-repeat center;

    margin-left: 10px;
    margin-top: 7px;
    width: 960px;
    height: 200px;
    /*border-left: 1px solid black;
       border-right: 1px solid black;
       border-bottom: 1px solid black;
       border-top: 1px solid black;*/
}
#formulario{

    margin: auto;
    margin-top: 30px;
    width: 980px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    background-color: lightskyblue;
}
#menu ul
{
    list-style-type: none;
}

#menu ul a
{
    text-decoration: none;
}

#titulo {
    text-align:center;
    font-size: 40px;
    color: blue;
    font-weight: bold;
}

#textoNormal {
    font-size: 14px;
    font-weight: normal;
}
#textoNormalBranco {

    font-size: 14px;
    font-weight: normal;
    color: white;
}

#menu {
    background: #333;
    float: left;
    list-style: none;
    margin: auto;
    padding: 0;
    width: 100%;
}



#menu li {
    font: 90% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    width: 200px;
    float:left;
    margin: 0;
    padding: 0;
}


#menu ul {/** submenu **/
          margin: 0;
          padding: 0;
          list-style: none;
          width: 100%;
}

#menu ul li { /** submenu **/
              position: relative;
}

#menu li ul { /** submenu **/
              position: relative;
              width: 100%;
              border-right: 3px solid #393939;
              top: 0;
              display: none;
}

#menu ul li a {/** submenu **/
               font: 90% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
               font-weight: bold;
               color: rgb(100,100,100);
               display: block;
               border-right: 3px solid #393939;
               background: rgb(238,238,236);
               padding: 5px;
               padding-left: 15px;
}

#menu a {
    background: rgb(133,158,187);
    border-right: 1px solid #393939;
    border-left: 1px solid #393939;
    border-bottom: 3px solid #393939;
    color: #fff;
    font-variant: small-caps;
    float:left;
    width: 144px;
    height: 20px;
    margin: auto;
    padding: 8px 12px;
    text-decoration: none;
}

#menu li:hover ul {
    display: block;
}

#menu a:hover {
    background: rgb(33,101,141) left center no-repeat;
    color: #fff;
    padding-bottom: 8px;
}
#loginArea{
    margin: auto;
    margin-top: 30px;
    width: 280px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    background-color: lightskyblue;

}
